-if user_signed_in?
  - if @prototype.like_user(current_user.id)
    = button_to prototype_like_path(@prototype,@likes), method: :delete, remote: true, class: 'btn btn-default btn-like' do
      = image_tag("icon_heart_red.svg")
      %strong
        = 'LIKE'
        = @prototype.likes_count
  - else
    = button_to prototype_likes_path(@prototype), method: :create, remote: true,class: 'btn btn-default btn-like' do
      = image_tag("icon_heart.svg")
      %strong
        ='LIKE'
        =@prototype.likes_count
- else
  %btn.btn-default
    = image_tag("icon_heart_red.svg")
    = @prototype.likes_count
