.container.proto-new{action: ""}
  = form_for @prototypes do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_filed :title, class:".proto-new-title", placeholder: "Title"
      .row
        = f.fields_for :images do |image|
          .col-md-12
            .cover-image-upload
              = image.file_field :image_url
              = image.hidden_field :status, value: "main"
          .col-md-12
            %ul.proto-sub-list.list-group
              %li.list-group-item.col-md-4
                .image-upload
                  = image.file_field :image_url
                  = image.hidden_field :status, value: "sub"
              %li.list-group-item.col-md-4
                .image-upload
                  = image.file_field :image_url
                  = image.hidden_field :status, value: "sub"
              %li.list-group-item.col-md-4
                .image-upload-plus
                  %span +
      .row.proto-description
        .col-md-12
          =f.text_filed :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          =f.text_area :concept, name: "", cols: "30", rows: "4", placeholder: "Concept"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              %input{type: "text", placeholder: "Web Design"}/
            .col-md-3
              %input{type: "text", placeholder: "UI"}/
            .col-md-3
              %input{type: "text", placeholder: "Application"}/
      .row.text-center.proto-btn
        = f.submit "PUBLISH", id: "button", class: "btn btn-lg btn-primary btn-block"
