.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag(@prototype.user.avatar,width: "64",height: "64")
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            by
            = link_to "#{@prototype.user.name}", user_path(@prototype.user)
            .degree
              = @prototype.user.position
    .col-md-6.text-right.like-button
      = render 'like'
    .col-md-6.text-left
      .extra-button
        - if user_signed_in? && @prototype.user_id == current_user.id
          .btn.btn-default.navbar-btn
            = link_to "Edit", edit_prototype_path(@prototype)
          .btn.btn-default.navbar-btn
            = link_to "Delete", prototype_path(@prototype), method: :delete

  .row
    .col-md-9
      = image_tag(@main_photo, class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        - @sub_photo.each do |image|
          %li.list-group-item
            = image_tag(image.photo, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  %h4.col-md-12
    Comments
    %span#comments-number.num
      = @prototype.comments.size
  .col-md-8
    .media
      .media-body
        %h4#top-aligned-media.media-heading
          %a.anchorjs-link{href: "#top-aligned-media"}
            %span.anchorjs-icon
        .media-comment
          = render @prototype.comments
    %form.form-inline
    - if user_signed_in?
      = form_for @comment,url: prototype_comments_path(@prototype),remote: true do |f|
        %h4 Write a comment
        .row
          .form-group.col-md-10
            = f.text_area :comment_text, rows: "3", placeholder: "Your comments",require: true,id: "js-comment-text", class: "form-control"
          .form-group.col-md-2
            = f.submit "COMMENT", class: "button btn btn-primary"
